/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo general */
body {
    background: #e6e6e6;
    font-family: Arial, sans-serif;
}

/* Estructura */
header, .main, footer {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

/* Menú */
header nav {
    background: #1565c0; /* azul matemático */
    overflow: hidden;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    padding: 10px 20px;
    display: block;
    color: #ffffff;
    text-decoration: none;
}

header nav ul li a:hover {
    background: #42a5f5;
}

/* Artículos */
.main .articles {
    width: 68.5%;
    margin-right: 1.5%;
    float: left;
}

.main .articles article {
    padding: 20px;
    background: white;
    margin-bottom: 20px;
    border-left: 6px solid #2e7d32; /* verde */
}

/* Sidebar */
aside {
    width: 30%;
    background: #c8e6c9; /* verde claro */
    float: right;
    padding: 20px;
    box-sizing: border-box;
}

/* Footer */
footer {
    background: #263238; /* gris oscuro */
    color: #ffffff;
    clear: both;
    padding: 12px 0px;
    text-align: center;

/* IMAGEN DEL HEADER */
header img {
    width: 1000%;
    height: 200px;
    object-fit: cover;
    display: block;
}